* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media only screen and (min-width: 600px) and (max-width: 1025px) {
        /* CSS rules for medium screens */
    }
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:black;
    color: #fdfdfd;
    margin: 20px;
  }
  
  /* Header styles */
  
  h1{
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
    border-bottom: 4px solid black;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-size: cover;
    background-color:black;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
h2{
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: #fdfdfd;
    text-shadow: black solid 5px; 
}
h3{
    color: orange;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calib
}

.container{
display: flexbox;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.5rem;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin:10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: orange; 
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}